name: Docker Build and Push

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      context:
        required: true
        type: string
      image-name:
        required: true
        type: string

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: az acr login --name crrecall${{ inputs.environment }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: |
            crrecall${{ inputs.environment }}.azurecr.io/${{ inputs.image-name }}:${{ github.sha }}
            crrecall${{ inputs.environment }}.azurecr.io/${{ inputs.image-name }}:latest
          cache-from: type=registry,ref=crrecall${{ inputs.environment }}.azurecr.io/${{ inputs.image-name }}:buildcache
          cache-to: type=registry,ref=crrecall${{ inputs.environment }}.azurecr.io/${{ inputs.image-name }}:buildcache,mode=max
